ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* changed the para tag color  [ELEMENT SELECTOR] */
p{
  color: red;
}

/* changed the font size of text with class NOTE [CLASS SELECTOR = NOT UNIQUE] */
.note{
  font-size: 20px;
}

/* changing through ID [ID SELECTOR = UNIQUE] */
#id-selector-demo{
  color: green;
}

/* changing through LI element with value [ATTRIBUTE SELECTOR] */
li[value]{
  color: blue;
}

/* changing through ALL [UNIVERSAL SELECTOR] */
*{
  text-align: center;
}