.container{
   
    height: 100vh;
    /* justify-content: center; */
    
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 2rem;
    
}

.pricing{
    flex: 1;
    max-height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

/* .one{
    height: 250px;
    width: 250px;
    background-color: lightgray;
     
    
    display: inline-block;
    
}
.two{
    height: 250px;
    width: 250px;
    background-color: lightgray;
     
     
    display: inline-block;
}
.three{
    height: 250px;
    width: 250px;
    background-color: lightgray;
    
     
    display: inline-block;
}
button{
    background-color: rgb(228, 36, 68);
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 4px;
} */
